node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Envinroment
secrets.json

# Generated Vouchers
mainnet-nft-vouchers.json
testnet-nft-vouchers.json